@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
}

#top-nav {
  background-color: #000;
  padding: 13px 0;
}
#top-nav a {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1.5px;
}
#top-nav a:hover {
  color: rgba(255, 255, 255, 0.3);
}

#navbar {
  background-color: #fff;
  box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
  transition: 0.4s;
}
#navbar .box {
  display: none;
  justify-content: space-between;
  align-items: center;
}
#navbar .box .logo a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  color: #0d0d0d;
}
#navbar .box .links {
  display: flex;
  align-items: center;
  gap: 231px;
}
#navbar .box .links ul {
  display: flex;
  gap: 25px;
}
#navbar .box .links ul a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}
#navbar .box .links ul a:hover {
  color: #971010;
  text-decoration: underline;
}
#navbar .box .exit {
  display: flex;
  align-items: center;
  gap: 31px;
}
#navbar .box .exit button {
  padding: 4px 8px;
  border: 0;
  border-radius: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}
#navbar .box .exit button:hover {
  background: #ffc000;
}
@media (min-width: 1000px) {
  #navbar .box {
    display: flex;
  }
}

nav {
  padding: 25px 0;
}

.navbar-shrink {
  padding: 8px 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.tgg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tgg i {
  font-size: 30px;
}

@media (min-width: 1000px) {
  .overlay {
    display: none;
  }
  .tgg {
    display: none;
  }
}
.nmadirlar {
  background-color: #e5e5e5;
}

.content h1 {
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.25px;
  text-align: center;
  color: #000000;
  padding: 32px 0px 10px;
}

.pastki_content {
  background-color: #ffffff;
  text-align: center;
  border-radius: 12px;
  margin-top: 100px;
  padding-bottom: 50px;
}
.pastki_content .contents {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.pastki_content .contents h2 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  color: #040921;
  margin-left: -104px;
  padding-bottom: 40px;
}
.pastki_content .contents img {
  margin-top: -30px;
}
.pastki_content .contentlar {
  position: relative;
}
.pastki_content .contentlar .stars {
  margin-left: 300px;
  display: flex;
  align-items: center;
  gap: 6.4px;
  padding-bottom: -28px;
}
.pastki_content .contentlar .stars p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1000000015px;
  color: #000000;
}
.pastki_content .p_class p {
  padding-top: 20px;
  margin-left: -268px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #000000;
}
.pastki_content .price {
  display: flex;
  align-items: center;
  margin-left: 294px;
  gap: 20px;
  padding-top: 30px;
}
.pastki_content .price p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.4399999976px;
  color: #0d0d0d;
}
.pastki_content .price h2 {
  font-family: sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.4399999976px;
}
.pastki_content .price h2 span {
  font-family: sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
}
.pastki_content .qutilar {
  display: flex;
  align-items: center;
  margin-left: 650px;
  position: absolute;
}
.pastki_content .qutilar h5 {
  width: 37px;
  padding: 17px 13px;
  background-color: #ffc000;
  color: #ffffff;
}
.pastki_content .qutilar h6 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.150000006px;
  color: #000000;
  background-color: #f2f2f2;
  padding: 11px;
  width: 93px;
}

.btn1 {
  text-align: right;
  margin-right: 405px;
}
.btn1 button {
  margin-top: 28px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.75px;
  background-color: #ffc000;
  color: #0d0d0d;
  padding: 18px 111px;
  border: none;
  transition: 0.4s;
  border-radius: 2px;
  margin-left: -150px;
}
.btn1 button:hover {
  background-color: #0d0d0d;
  color: #ffc000;
}

.warning .img_content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 64px;
  padding-top: 32px;
}
.warning .img_content p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #ffffff;
  background-color: #ff5959;
  padding: 14px 455px;
  padding-bottom: -29px;
}
.warning .img_content img {
  position: absolute;
  margin-left: -40px;
  margin-top: -3px;
}

@media (max-width: 1080px) {
  .pastki_content {
    width: 100%;
  }
}/*# sourceMappingURL=frame-9.css.map */