@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background: #e5e5e5;
}

#main-top {
  padding-top: 170px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: 2px solid #d6d6d6;
  border-radius: 30px;
  padding: 0 !important;
  font: inherit;
  margin: 0 3px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot.active {
  border: 2px solid #869791;
}

.owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  margin: 5px 5px;
  background: #d6d6d6;
  font-size: 3px;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}

.read-more-container {
  display: flex;
  flex-direction: column;
  color: #111;
  gap: 1rem;
}

.container-box {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  letter-spacing: 0.44px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #000000;
}

.narx {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 0px;
  top: -30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.read-more-btn {
  color: #0984e3;
}

.read-more-btn:hover {
  cursor: pointer;
}

.read-more-text {
  display: none;
}

.read-more-text--show {
  display: inline;
}

.main__top--right h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 9px;
}
.main__top--right .size p {
  font-style: normal;
  font-weight: 400;
  display: block;
  font-size: 16px;
  line-height: 140%;
  padding-bottom: 8px;
  /* or 22px */
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.44px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.main__top--right .size .ap-tab {
  margin-top: 8px;
}
.main__top--right .size .ap-tab .ap-tab-list {
  display: flex;
  gap: 8px;
}
.main__top--right .size .ap-tab .ap-tab-list .ap-tab-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 12px;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  border: 1px solid #dbdee7;
  border-radius: 6px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000 !important;
}
.main__top--right .size .ap-tab .ap-tab-list .ap-tab-link:hover {
  box-shadow: 0px 0px 6px 0px rgba(51, 51, 51, 0.18) inset;
}
.main__top--right .size .ap-tab .ap-tab-list .ap-tab-link.active-tab {
  background-color: #ffc000;
}
.main__top--right button {
  height: 40px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #000000;
}
.main__top--right button:hover {
  box-shadow: 0px -5px 5px -5px rgba(51, 51, 51, 0.6);
}
.main__top--right .btn1 {
  background-color: #ffc000;
  margin-top: 24px;
  margin-bottom: 8px;
}
.main__top--right .btn2 {
  background: rgba(0, 0, 0, 0.05);
}
.main__top--right .hizmatlar h2 {
  margin-top: 32px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.main__top--right .hizmatlar .dastafka .hizmat__box {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.main__top--right .hizmatlar .dastafka .hizmat__box span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 145% */
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #0d0d0d;
}

.nav_top--bottom {
  width: 100%;
  display: flex;
  display: none;
}
.nav_top--bottom .rasimlar {
  width: 25%;
}

.tovarlar h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  /* identical to box height, or 48px */
  letter-spacing: 0.25px;
  margin-top: 35px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.tovarlar1 {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.sariq2 {
  display: none;
}

.sariq1 {
  display: none;
}

.sariq {
  background: #ffffff;
  border-radius: 12px;
  width: 50%;
}
.sariq img {
  width: 100%;
}
.sariq p {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.4px;
  font-feature-settings: "pnum" on, "lnum" on;
  padding: 0 13px;
  /* Black */
  display: none;
  color: #000000;
}
.sariq h3 {
  margin-top: 25px;
  padding: 0 13px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #000000;
}
.sariq .yulduz__narx {
  padding: 0 13px;
  position: relative;
}
.sariq .yulduz__narx img {
  position: absolute;
  width: 50%;
  top: -60px;
}
.sariq .yulduz__narx h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  /* identical to box height, or 14px */
  padding-bottom: 12px;
  letter-spacing: 1.5px;
  padding-top: 7px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #000000;
}

.zerikdim {
  text-align: center;
  padding: 0 13px;
}

.krz__btn {
  width: 100%;
  padding: 0 13px;
  height: 36px;
  border: none;
  background: #ffc000;
  border-radius: 6px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
  line-height: 140%;
  cursor: pointer;
  /* identical to box height, or 20px */
  font-family: "Montserrat", sans-serif;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #000000;
  display: none;
}
.krz__btn:hover {
  cursor: progress;
}

.oxirgi1 {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.oxirgi {
  width: 50%;
}
.oxirgi p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #0d0d0d;
}

.oxirgi11 {
  display: none;
}

.oxirgi2 {
  display: none;
}

@media (min-width: 530px) {
  .sariq {
    background: #ffffff;
    border-radius: 12px;
    width: 50%;
  }
  .sariq img {
    width: 100%;
  }
  .sariq h3 {
    margin-top: 35px;
  }
  .sariq .yulduz__narx {
    padding: 0 13px;
    position: relative;
  }
  .sariq .yulduz__narx img {
    position: absolute;
    width: 50%;
    top: -50px;
  }
  .sariq .yulduz__narx h4 {
    font-size: 10px;
  }
}
.top__kategoriya {
  margin-top: 25px;
}
.top__kategoriya h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  /* or 48px */
  margin-top: 20px;
  margin-bottom: 15px;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

@media (min-width: 680px) {
  .one__section {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
  }
  .one__section .main__top--left {
    width: 50%;
    margin-top: 16px;
  }
  .one__section .main__top--right {
    width: 40%;
  }
  .one__section .main__top--right h2 {
    font-size: 34px;
  }
  .oxirgi11 {
    display: block;
  }
  .oxirgi {
    margin-top: 60px;
  }
  .oxirgi p {
    font-size: 25px;
  }
  .tovarlar {
    margin-top: 80px;
  }
  .container-box {
    font-style: 16px;
    padding-top: 0px;
    margin-top: 0px;
  }
  .narx {
    top: 0px;
    position: relative;
    font-size: 34px;
    line-height: 140%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000;
  }
  .dastafka {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .nav_top--bottom {
    display: block;
    gap: 14px;
  }
  .nav_top--bottom img {
    width: 24.4%;
  }
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel button.owl-dot {
    display: none;
  }
  .owl-theme .owl-dots .owl-dot span {
    display: none;
  }
  .owl-theme .owl-dots .owl-dot {
    display: none;
  }
  .btn1 {
    margin-top: 60px !important;
    width: 90% !important;
  }
  .btn2 {
    width: 90% !important;
  }
}
@media (min-width: 700px) {
  .tovarlar1 {
    gap: 30px;
    margin-top: 30px;
  }
  .top__kategoriya h2 {
    margin-top: 60px;
  }
  .krz__btn {
    display: block;
  }
  .sariq {
    width: 33%;
  }
  .sariq1 {
    display: block;
  }
  .sariq img {
    width: 100%;
  }
  .sariq p {
    display: block;
  }
  .sariq h3 {
    margin-top: 7px;
    font-size: 20px;
  }
  .sariq .yulduz__narx {
    padding: 0 13px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sariq .yulduz__narx img {
    position: relative;
    width: 50%;
    top: 0px;
  }
  .sariq .yulduz__narx h4 {
    font-size: 13px;
  }
}
@media (min-width: 900px) {
  .sariq {
    width: 25%;
  }
  .oxirgi2 {
    display: block;
  }
  .sariq2 {
    display: block;
  }
}
#footer {
  margin-top: 64px;
  padding: 46px 0px 42px 0px;
  font-family: "M PLUS 1p", sans-serif;
  background: #fff;
}
#footer .footer__container {
  display: flex;
  -moz-column-gap: 29px;
       column-gap: 29px;
}
#footer .footer__container .footer__cont--left h4 {
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#footer .footer__container .footer__cont--left p {
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#footer .footer__container .footer__cont--right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 210px;
}
#footer .footer__container .footer__cont--right .footer-card1 .f-top {
  margin-bottom: 38px;
}
#footer .footer__container .footer__cont--right .footer-card1 .f-top h5 {
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#footer .footer__container .footer__cont--right .footer-card1 .f-top p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#footer .footer__container .footer__cont--right .footer-card1 .f-top .p6 {
  padding-bottom: 17px;
}
#footer .footer__container .footer__cont--right .footer-card1 .f-bottom h5 {
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#footer .footer__container .footer__cont--right .footer-card1 .f-bottom p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#footer .footer__container .footer__cont--right .footer-card1 .f-bottom .p7 {
  padding-bottom: 17px;
}
#footer .footer__container .footer__cont--right .footer-card2 h5 {
  padding-bottom: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#footer .footer__container .footer__cont--right .footer-card2 ul {
  display: grid;
  grid-row-gap: 10px;
  margin-bottom: 0px;
  padding-left: 0px;
}
#footer .footer__container .footer__cont--right .footer-card2 ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#footer .footer__container .footer__cont--right .footer-card3 {
  display: grid;
  grid-row-gap: 10px;
}
#footer .footer__container .footer__cont--right .footer-card3 h5 {
  padding-bottom: 6px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#footer .footer__container .footer__cont--right .footer-card3 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

#footer-2 {
  display: none;
}

@media (max-width: 1077px) {
  #footer .footer__container .footer__cont--right {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 110px;
  }
}
@media (max-width: 945px) {
  #footer .footer__container .footer__cont--right {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 50px;
  }
}
@media (max-width: 825px) {
  #footer .footer__container {
    display: grid;
    grid-row-gap: 98px;
  }
  #footer .footer__container .footer__cont--left {
    display: grid;
    justify-content: center;
  }
  #footer .footer__container .footer__cont--left h4 {
    text-align: center;
  }
  #footer .footer__container .footer__cont--left p {
    text-align: center;
  }
  #footer .footer__container .footer__cont--left .footer-logo {
    display: grid;
    justify-content: center;
  }
  #footer .footer__container .footer__cont--right {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 30px;
    justify-content: center;
  }
}
@media (max-width: 535px) {
  #footer .footer__container .footer__cont--right {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-row-gap: 50px;
  }
  #footer .footer__container .footer__cont--right .footer-card h5 {
    text-align: center;
  }
  #footer .footer__container .footer__cont--right .footer-card p {
    text-align: center;
  }
  #footer .footer__container .footer__cont--right .footer-card ul li {
    text-align: center;
  }
}
@media (max-width: 376px) {
  #footer {
    display: none;
  }
  #footer-2 {
    display: inline-block;
    padding: 36px 0px 32px 0px;
    font-family: "M PLUS 1p", sans-serif;
  }
  #footer-2 .footer__container .footer__cont--top p {
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  #footer-2 .footer__container .footer__cont--top .left-right {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 31px;
  }
  #footer-2 .footer__container .footer__cont--top .left-right .f-left ul {
    display: grid;
    grid-row-gap: 12px;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  #footer-2 .footer__container .footer__cont--top .left-right .f-left ul li a {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  #footer-2 .footer__container .footer__cont--top .left-right .f-right ul {
    display: grid;
    grid-row-gap: 12px;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  #footer-2 .footer__container .footer__cont--top .left-right .f-right ul li a {
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
  #footer-2 .footer__container .footer__cont--bottom {
    display: grid;
    grid-row-gap: 17px;
  }
  #footer-2 .footer__container .footer__cont--bottom .f__top {
    display: flex;
    align-items: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  #footer-2 .footer__container .footer__cont--bottom .f__top .f__top--left i {
    font-size: 25px;
    color: #0045ff;
  }
  #footer-2 .footer__container .footer__cont--bottom .f__top .f__top--right p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
  }
}/*# sourceMappingURL=macbok-13.css.map */