@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/* -----------navbar-start-------- */

@font-face {
  font-family: "Montserrat";
  src: url(/font/Montserrat-Regular.ttf);
}
* {
  font-family: "Montserrat";
}

header {
  position: fixed;
  width: 100%;
  z-index: 90;
  top: 0;
}
#hom {
  position: sticky;
}

#top-nav {
  background-color: #000;
  padding: 13px 0;
  width: 100%;
  z-index: 90;
  a {
    color: white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 1.5px;
    &:hover {
      color: rgba(255, 255, 255, 0.3);
      transition: 0.3s;
    }
  }
}

#navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 90;
  box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12),
    0px 14px 64px -4px rgba(24, 39, 75, 0.12);
  transition: 0.4s;
  .box {
    display: none;
    justify-content: space-between;
    align-items: center;
    .logo {
      a {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        color: #0d0d0d;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 231px;
      ul {
        display: flex;
        gap: 25px;
        a {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          color: #000000;
          &:hover {
            color: #ffc000;
            // text-decoration: underline;
            transition: 0.3s;
          }
        }
      }
    }
    .exit {
      display: flex;
      align-items: center;
      gap: 31px;
      button {
        padding: 4px 8px;
        border: 0;
        border-radius: 4px;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: #000000;
        &:hover {
          background: #ffc000;
          transition: 0.3s;
        }
      }
    }
    @media (min-width: 1000px) {
      & {
        display: flex;
      }
    }
  }
}
nav {
  padding: 25px 0;
}

.navbar-shrink {
  padding: 8px 0;
}

// toggle----------------
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 90;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.tgg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  i {
    font-size: 30px;
  }
}
@media (min-width: 1000px) {
  .overlay {
    display: none;
  }
  .tgg {
    display: none;
  }
}

/* -----------navbar-end-------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}
ul {
  list-style-type: none;
}

body {
  background-color: #fafafa;
}
.container {
  max-width: 1215px;
  padding: 0 30px;
  margin: 0 auto;
}

.container-categories-div {
  width: 216px;
  height: 80px;
  background-color: #ffc000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.15px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #0d0d0d;
  }
}

.container {
  @media (max-width: 700) {
    max-width: 375px;
    padding: 0 33px 0 28px;
  }
  section {
    .container-top {
      padding-top: 176px;
      h1 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.25px;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #000000;
        margin-bottom: 80px;
      }
    }
    .container-book {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 64px;
      @media (max-width: 700px) {
        display: grid;
        grid-template-columns: 1fr;
      }
      .payme {
        .book-left {
          display: flex;
          justify-content: space-between;
          width: 460px;
          height: 113px;
          background-color: #ffc000;
          padding: 16px;
          @media (max-width: 700px) {
            width: 100%;
            height: 88px;
            margin-bottom: 24px;
          }
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            display: flex;
            align-items: flex-end;
            letter-spacing: 0.15px;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #0d0d0d;
            @media (max-width: 700px) {
              font-size: 14px;
            }
          }
          .book-left-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          .book-left-right {
            text-align: end;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
          }
        }
        .container-img {
          @media (max-width: 700px) {
            display: none;
          }
        }
      }
      .input-payment {
        &-img {
          display: none;
          img {
            width: 143px;
            height: 39px;
          }
          @media (max-width: 700px) {
            display: block;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 40px;
            margin-bottom: 16px;
          }
        }
        input {
          @media (max-width: 700px) {
            background-color: transparent;
            border: 1px solid #dbdee7;
            border-radius: 6px;
          }
        }
        a {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          display: block;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          font-feature-settings: "pnum" on, "lnum" on;
          color: #0d0d0d;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.05);
          padding: 21px 0;
          text-align: center;
          &:hover {
            background-color: #ffc000;
            transition: 0.5s;
          }
        }
      }
    }
    .container-order {
      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.25px;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #000000;
        margin-bottom: 32px;
        @media (max-width: 700px) {
          text-align: start;
        }
      }
      .container-hoodie {
        background-color: #ffffff;
        display: flex;
        margin-bottom: 24px;
        border-radius: 12px;
        &-img {
          // margin-bottom: -12px;
          img {
            @media (max-width: 700px) {
              width: 85px;
              height: 94px;
            }
          }
        }
        &-comment {
          margin-left: 30px;
          h2 {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 140%;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #040921;
            padding: 25px 408px 43px 0;
            display: inline-block;
            @media (max-width: 700px) {
              font-size: 14px;
              padding: 0 0 1px 8px;
            }
          }
          img {
            @media (max-width: 700px) {
              display: none;
            }
          }
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.25px;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #000000;
            padding: 8px 0 38px;
            @media (max-width: 700px) {
              display: none;
            }
          }
          &-bottom {
            margin-bottom: -20px;
            p {
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              letter-spacing: 0.44px;
              font-feature-settings: "pnum" on, "lnum" on;
              color: #0d0d0d;
              display: inline-block;
              padding-right: 40px;
              @media (max-width: 700px) {
                font-size: 12px;
                padding: 0;
              }
            }
            h3 {
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              text-align: center;
              font-feature-settings: "pnum" on, "lnum" on;
              color: #000000;
              display: inline-block;
              padding-right: 13px;
              @media (max-width: 700px) {
                font-size: 12px;
                padding: 0;
              }
            }
          }
          img {
            text-align: end;
            padding: 0 0 0 87px;
            display: inline-block;
            @media (max-width: 700px) {
              // display: block;
              // padding: 0;
              display: inline-block;
              width: 108px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}
.container-shop {
  &-logo {
    h1 {
      padding: 40px 0 32px;
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 140%;
      text-align: center;
      letter-spacing: 0.25px;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #000000;
    }
  }
  &-img {
    display: flex;
    justify-content: space-between;
    img:hover {
      box-shadow: 3px 3px 10px gray;
      transition: 0.5s;
      border-radius: 10px;
    }
  }
}
.container-categories {
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.25px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #000000;
    padding: 64px 0 32px;
  }
  img:hover {
    box-shadow: 3px 3px 10px gray;
    transition: 0.5s;
    border-radius: 10px;
  }
  &-clothes,
  &-baby,
  &-shoes,
  &-textiles {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
  }
  &-textiles {
    margin-bottom: 54px;
  }
}

.input-payment {
  // Tohir

  input {
    width: 100%;
    height: 59px;
    background: #f1f1f1;
    border: none;
    margin-bottom: 24px;
    padding-left: 12px;
  }
}

/* ------------footer-start----------- */

#footer {
  padding: 46px 0px 42px 0px;
  .footer__container {
    display: flex;
    column-gap: 29px;
    .footer__cont--left {
      h4 {
        padding-bottom: 16px;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #000000;
      }
      p {
        padding-bottom: 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0.25px;
        font-feature-settings: "pnum" on, "lnum" on;
        color: #000000;
      }
    }
    .footer__cont--right {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-column-gap: 210px;
      .footer-card1 {
        .f-top {
          margin-bottom: 38px;
          h5 {
            padding-bottom: 16px;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #000000;
          }
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.25px;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #000000;
          }
          .p6 {
            padding-bottom: 17px;
          }
        }
        .f-bottom {
          h5 {
            padding-bottom: 16px;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #000000;
          }
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.25px;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #000000;
          }
          .p7 {
            padding-bottom: 17px;
          }
        }
      }
      .footer-card2 {
        h5 {
          padding-bottom: 16px;
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          font-feature-settings: "pnum" on, "lnum" on;
          color: #000000;
        }
        ul {
          display: grid;
          grid-row-gap: 10px;
          margin-bottom: 0px;
          padding-left: 0px;
          li {
            a {
              font-weight: 400;
              font-size: 14px;
              line-height: 160%;
              letter-spacing: 0.25px;
              font-feature-settings: "pnum" on, "lnum" on;
              color: #000000;
            }
          }
        }
      }
      .footer-card3 {
        display: grid;
        grid-row-gap: 10px;
        h5 {
          padding-bottom: 6px;
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          font-feature-settings: "pnum" on, "lnum" on;
          color: #000000;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 160%;
          letter-spacing: 0.25px;
          font-feature-settings: "pnum" on, "lnum" on;
          color: #000000;
        }
      }
    }
  }
}

#footer-2 {
  display: none;
}
@media (max-width: 1077px) {
  #footer {
    .footer__container {
      .footer__cont--right {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 110px;
      }
    }
  }
}

@media (max-width: 945px) {
  #footer {
    .footer__container {
      .footer__cont--right {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 50px;
      }
    }
  }
}

@media (max-width: 825px) {
  #footer {
    .footer__container {
      display: grid;
      grid-row-gap: 98px;
      .footer__cont--left {
        display: grid;
        justify-content: center;
        h4 {
          text-align: center;
        }
        p {
          text-align: center;
        }
        .footer-logo {
          display: grid;
          justify-content: center;
        }
      }
      .footer__cont--right {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-column-gap: 30px;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 535px) {
  #footer {
    .footer__container {
      .footer__cont--right {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-row-gap: 50px;
        .footer-card {
          h5 {
            text-align: center;
          }
          p {
            text-align: center;
          }
          ul {
            li {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  #footer {
    display: none;
  }
  #footer-2 {
    display: inline-block;
    padding: 36px 0px 32px 0px;
    .footer__container {
      .footer__cont--top {
        p {
          padding-bottom: 32px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          font-feature-settings: "pnum" on, "lnum" on;
          color: #000000;
        }
        .left-right {
          display: grid;
          grid-template-columns: repeat(2, auto);
          grid-column-gap: 31px;
          .f-left {
            ul {
              display: grid;
              grid-row-gap: 12px;
              margin-bottom: 0px;
              padding-left: 0px;
              li {
                a {
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 34px;
                  font-feature-settings: "pnum" on, "lnum" on;
                  color: #000000;
                }
              }
            }
          }
          .f-right {
            ul {
              display: grid;
              grid-row-gap: 12px;
              margin-bottom: 0px;
              padding-left: 0px;
              li {
                a {
                  font-weight: 700;
                  font-size: 20px;
                  line-height: 34px;
                  font-feature-settings: "pnum" on, "lnum" on;
                  color: #000000;
                }
              }
            }
          }
        }
      }
      .footer__cont--bottom {
        display: grid;
        grid-row-gap: 17px;
        .f__top {
          display: flex;
          align-items: center;
          column-gap: 16px;
          .f__top--left {
            i {
              font-size: 25px;
              color: #0045ff;
            }
          }
          .f__top--right {
            p {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              font-feature-settings: "pnum" on, "lnum" on;
              color: #000000;
            }
          }
        }
      }
    }
  }
}

/* ------------footer-start----------- */
