@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

* h1,
* h2,
* h3,
* h4,
* h5,
* h6,
* p {
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
  font-family: "M PLUS 1p", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

#top-nav {
  background-color: #000;
  padding: 13px 0;
}
#top-nav a {
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1.5px;
}
#top-nav a:hover {
  color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

#navbar {
  background-color: #fff;
  box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
  transition: 0.4s;
}
#navbar .box {
  display: none;
  justify-content: space-between;
  align-items: center;
}
#navbar .box .logo a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  color: #0d0d0d;
}
#navbar .box .links {
  display: flex;
  align-items: center;
  gap: 231px;
}
#navbar .box .links ul {
  display: flex;
  gap: 25px;
  padding-top: 10px;
}
#navbar .box .links ul a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}
#navbar .box .links ul a:hover {
  color: #ffc000;
  transition: 0.3s;
}
#navbar .box .exit {
  display: flex;
  align-items: center;
  gap: 31px;
}
#navbar .box .exit button {
  padding: 4px 8px;
  border: 0;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}
#navbar .box .exit button:hover {
  background: #ffc000;
  transition: 0.3s;
}
@media (min-width: 1000px) {
  #navbar .box {
    display: flex;
  }
}

nav {
  padding: 25px 0;
}

.navbar-shrink {
  padding: 8px 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.tgg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tgg i {
  font-size: 30px;
}

@media (min-width: 1000px) {
  .overlay {
    display: none;
  }
  .tgg {
    display: none;
  }
}
main {
  font-family: "M PLUS 1p", sans-serif;
}

#mag {
  padding: 190px 0px 64px 0px;
  background: #fafafa;
}
#mag .mag__container .mag__cont--top {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin-bottom: 32px;
}
#mag .mag__container .mag__cont--top a {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.1px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#mag .mag__container .mag__cont--top a:hover {
  color: #ffc000;
  transition: 0.3s;
}
#mag .mag__container .mag__cont--top p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.1px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#mag .mag__container .mag__cont--bottom {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 10px;
}
#mag .mag__container .mag__cont--bottom .bottom-left .acc-logo {
  display: flex;
  align-items: center;
  padding-left: 17px;
  width: 264px;
  height: 64px;
  background: #fff;
  border-bottom: 2px solid #f4f5f7;
}
#mag .mag__container .mag__cont--bottom .bottom-left .acc-logo h3 {
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#mag .mag__container .mag__cont--bottom .bottom-left .acc {
  width: 264px;
}
#mag .mag__container .mag__cont--bottom .bottom-left .acc .acc-item h2 button {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#mag .mag__container .mag__cont--bottom .bottom-left .acc .acc-item .flsh .acc-body p {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#mag .mag__container .mag__cont--bottom .bottom-left .acc .acc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  padding: 0 17px;
  background: #fff;
  box-shadow: 0px 3px 0px #e1e1e1;
}
#mag .mag__container .mag__cont--bottom .bottom-left .acc .acc-button button {
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.04em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0d0d0d;
  background: #ffc000;
  border: none;
}
#mag .mag__container .mag__cont--bottom .bottom-right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}
#mag .mag__container .mag__cont--bottom .bottom-right .box .box-img {
  margin-bottom: 8px;
}
#mag .mag__container .mag__cont--bottom .bottom-right .box .box-title p {
  padding-bottom: 13px;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
#mag .mag__container .mag__cont--bottom .bottom-right .box .box-title .stars-box {
  display: flex;
  justify-content: space-between;
}
#mag .mag__container .mag__cont--bottom .bottom-right .box .box-title .stars-box p {
  padding-top: 10px;
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

#mag-2 {
  display: none;
}

@media (max-width: 1280px) {
  #mag .mag__container .mag__cont--bottom .bottom-right {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
  #mag .mag__container .mag__cont--bottom .bottom-left .acc-logo {
    width: 100%;
  }
  #mag .mag__container .mag__cont--bottom .bottom-left .acc {
    width: 100%;
  }
}
@media (max-width: 1020px) {
  #mag .mag__container .mag__cont--bottom .bottom-right {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
}
@media (max-width: 640px) {
  #mag .mag__container .mag__cont--bottom {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 30px;
  }
  #mag .mag__container .mag__cont--bottom .bottom-right {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }
}
@media (max-width: 615px) {
  #mag .mag__container .mag__cont--bottom .bottom-right {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }
}
@media (max-width: 376px) {
  #mag {
    display: none;
  }
  #mag-2 {
    display: inline-block;
    padding: 99px 0px 32px 0px;
    background: #fafafa;
  }
  #mag-2 .mag-2__cont--top {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    grid-column-gap: 23px;
  }
}