* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
<<<<<<< HEAD
=======
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
>>>>>>> 8d92d48d798b2f99febae7777ded1bda005163a2
}